# Environment Variables
.env
.env.production
.env.local

# Docker
docker-compose.override.yml

# Directus
database/
# extensions/ -> Tracked
# uploads/ -> Tracked

# Keep .gitkeep to ensure folders exist
!extensions/.gitkeep
!uploads/.gitkeep

# Node
node_modules/
npm-debug.log
yarn-error.log

# System
.DS_Store
Thumbs.db

# PM2 Logs
.pm2/
logs/
